<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem debitis quidem
    aspernatur tempora. Ex veniam, tenetur eius nostrum temporibus nemo!
  </p>
  <footer class="quote__footer">
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Uzumaki Naruto</h3>
        <p class="quote__organization">Leaf Ninja Corp</p>
      </div>
    </div>
  </footer>
</blockquote>
